<footer role="contentinfo">
  <div class="footer-inner">
    <p>(c) <span id="copyright-year"></span> {{ site.title }}</p>
    <p><a href="https://www.linkedin.com/">LinkedIn</a> &nbsp; <a href="https://github.com/">GitHub</a></p>
    <!-- <p><a href="{{ pathPrefix }}cv.pdf" download>Download CV</a></p> -->
  </div>
</footer>
