<footer role="contentinfo">
  <div class="footer-inner">
    <p>(c) <span id="copyright-year"></span> {{ site.brandFull }}</p>
    <p><a href="{{ site.linkedIn }}">LinkedIn</a> &nbsp; <a href="{{ site.github }}">GitHub</a></p>
    <!-- <p><a href="{{ pathPrefix }}cv.pdf" download>Download CV</a></p> -->
  </div>
</footer>
