@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#mw {
  /* background-image: url(mw.svg);
  background-repeat: no-repeat;
  background-position: center; */
  /* font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: calc(5em + 4vw + 2vh);
  color: rgb(56,56,56);
  line-height: 1.3em;
  padding-top: 0.4em;
  padding-bottom: 0.2em; */
}

/* .head1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: calc(2em + 2vw + 1vh);
  color: rgb(244,244,244);
} */

span:hover {
  transition: .2s ease-in;
  background-color: rgb(233,233,233);
}

#scroll {
  cursor: pointer;
  transition-delay: .8s;
}

.flex {
  display: flex;
  flex-direction: column;
}

/* .sptop {
  padding-top: calc(6em + 3vh);
  padding-bottom: calc(1em + 2vh);
} */

/* .spmid {
  padding-top: calc(1em + 2vh);
  padding-bottom: calc(1em + 2vh);
} */

.l1 {
  background-color: #e14e4e;
}

.l1:hover {
  transition: .2s ease-in;
  background-color: #e19e4e;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.info {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: calc(0.5em + 1vw);
  color: rgb(56,56,56);
  padding-top: 150vh;
  padding-bottom: 0.5em;
}


@media only screen

  and (max-device-width: 812px) {

    .bg1 {
      background-image: url('bg/bg.jpg');
      background-repeat: no-repeat;
      background-position: 0vw 40vh;
      background-size: 100%;
    }

    #mw {
      /* background-image: url(mw.svg);
      background-repeat: no-repeat;
      background-position: center; */
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: calc(2em + 4vw + 2vh);
      color: rgb(56,56,56);
      line-height: 1.3em;
      padding-top: 0.4em;
      padding-bottom: 0.2em;
    }

    .sptop {
      padding-top: calc(1em + 3vh);
      padding-bottom: calc(0.5em + 1vh);
    }

    .spmid {
      padding-top: calc(0.5em + 1vh);
      padding-bottom: calc(0.5em + 1vh);
    }

    .head1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: calc(2em + 1vw + 1vh);
      color: rgb(244,244,244);
    }

}

@media only screen

  and (min-device-width: 812px) {

    .bg1 {
      background-image: url('bg/bg.jpg');
      background-repeat: no-repeat;
      background-position: 0vw 80vh;
      background-size: 100%;
    }

    #mw {
      /* background-image: url(mw.svg);
      background-repeat: no-repeat;
      background-position: center; */
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: calc(5em + 4vw + 2vh);
      color: rgb(56,56,56);
      line-height: 1.3em;
      padding-top: 0.4em;
      padding-bottom: 0.2em;
    }

    .sptop {
      padding-top: calc(6em + 3vh);
      padding-bottom: calc(1em + 2vh);
    }

    .spmid {
      padding-top: calc(1em + 2vh);
      padding-bottom: calc(1em + 2vh);
    }

    .head1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: calc(2em + 2vw + 1vh);
      color: rgb(244,244,244);
    }

}

/* .bg1 {
  background-image: url('bg/bg.jpg');
  background-repeat: no-repeat;
  background-position: 0vw 80vh;
  background-size: 100%;
} */

.bg2 {
  background-image: url('bg/bg2e1.jpg');
  background-repeat: no-repeat;
  background-position: 0em 50em;
  background-size: 100%;
}

html {
  overflow-y: scroll;
}

p {
  height: 2em;
}

div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%
  position: absolute;
}

img {
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  color: rgba(0,0,0,0.1)
}
