@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#mw {
  /* background-image: url(mw.svg);
  background-repeat: no-repeat;
  background-position: center; */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 10em;
  color: rgb(56,56,56);
}

.head1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 5em;
  color: rgb(244,244,244);
}

span:hover {
  transition: .2s ease-in;
  background-color: rgb(233,233,233);
}

#scroll {
  cursor: pointer;
  transition-delay: .8s;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}

.l1 {
  background-color: #e14e4e;
}

.l1:hover {
  transition: .2s ease-in;
  background-color: #e19e4e;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.bg1 {
  background-image: url('bg/bg.jpg');
  background-repeat: no-repeat;
  background-position: 0em 50em;
  background-size: 100%;
}

.bg2 {
  background-image: url('bg/bg2e1.jpg');
  background-repeat: no-repeat;
  background-position: 0em 50em;
  background-size: 100%;
}

html {
  overflow-y: scroll;
}

p {
  height: 2em;
}

div {
  margin-top: 1rem;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%
  position: absolute;
}

img {
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  color: rgba(0,0,0,0.1)
}
