@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

div, img, a {
  margin-top: 1rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

#mw {
  background-image: url(mw.svg);
  background-repeat: no-repeat;
  background-position: center;
}
